@charset "UTF-8";

body {
    background-color: #EBC299;
}

#grids {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#current  img{
    display: inline-block;
    background-color: #E6E6E6;
    margin-top: 1.25em;
}

#last img{
    display: inline-block;
    background-color: #E6E6E6;
    margin-top: 1.25em;
}

#next img{
    display: inline-block;
    background-color: #E6E6E6;
    margin-top: 1.25em;
}

#nav {
    float: none;
    text-align: center;
    width: 100%;
}

#rowCount {
    float: left;
}

#nav img {
    margin: 0.1% 1%;
    margin-top: 7em;
}

#translation {
    text-align: center;
}

#translation p {
    font-size: 3em;
    font-family: sans-serif;
    clear: both;
}